<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="product_reminder" frontName="product_reminder">
            <module name="Product_Reminder"/>
        </route>
    </router>
</config>
